/**
 * @file layout.base.css
 */

.layout-app,
.layout-app * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.layout-app .form-textarea {
  display: none;
}

/**
 * Regions.
 */
.layout-app header .operations {
  float: left; /* LTR */
}
.layout-app header .info {
  float: right; /* LTR */
}

/**
 * Blocks.
 */
.layout-app .blocks {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.layout-app .blocks .row {
  display: table-row;
}
.layout-app .blocks .block {
  display: table-cell;
  overflow: hidden;
}
.layout-app .blocks .block:hover {
  cursor: pointer;
}
.layout-app .block > .lining {
  display: inline-block;
  height:100%;
  position: relative;
  width: 100%;
}

/**
 * Block information.
 */
.layout-app .block .type-indicator,
.layout-app .block .label {
  display: block;
}
.layout-app .block .type-indicator {
  float: left; /* LTR */
}
