/**
 * @file layout.theme.css
 */
.layout-region-demonstration {
  background-image: -webkit-linear-gradient(bottom, rgb(70,70,71) 40%, rgb(91,91,94) 70%, rgb(125,124,125) 88%);
  background-image: linear-gradient(bottom, rgb(70,70,71) 40%, rgb(91,91,94) 70%, rgb(125,124,125) 88%);
  color: white;
  font-size: 0.8em;
  margin: 3px;
  padding: 10px;
  text-transform: uppercase;
}

.layout-configure-form {
  background-color: #ffffff;
}

.layout-configure-form .layout-display {
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  padding: 2em;
}

/**
 * Regions.
 */
.layout-region > .lining {
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.75em;
}
.layout-region header {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.layout-region header .label {
  color: #666666;
  font-size: x-small;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/**
 * Blocks.
 */
 .layout-configure-form .blocks .block {
  padding: 0.5em;
  min-width: 5em;
  display: inline-block;
 }
.layout-configure-form .block > .lining {
  background-image: -webkit-linear-gradient(rgb(102,149,168) 0%,rgb(92,133,150) 99%,rgb(92,133,150) 100%);
  background-image: linear-gradient(rgb(102,149,168) 0%,rgb(92,133,150) 99%,rgb(92,133,150) 100%);
  min-height: 4.5em;
}

/**
 * Block information.
 */
.layout-configure-form .block .type-indicator,
.layout-configure-form .block .label {
  color: #ffffff;
  padding-bottom: 0.1667em;
  padding-top: 0.1667em;
}
.layout-configure-form .block .type-indicator {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff; /* LTR */
  font-weight: bold;
  max-width: 2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.layout-configure-form .block .label {
  font-weight: bold;
}
.layout-configure-form .block .type-indicator + .label {
  margin-left: 2em; /* LTR */
}


.layout-region {
  border: 1px solid #a6a6a6;
  margin-bottom: 0.25em;
}

.layout-region .blocks .block-placeholder {
  margin: 0.5em;
  padding: 0;
  border: 1px dotted #000000;
}

.layout-region .blocks .block-placeholder:after {
  content: ' X ';
  padding: 2em;
  min-width: 5em;
}

.layout-region .blocks {
  min-height: 6em;
  border: 1px dashed #ccc;
}

.layout-block-dragging .layout-region .blocks {
  background-color: #ccc;
}

.layout-region .block .lining {
  padding: 0.25em;
  cursor: move;
}

.layout-region .block .operations a {
  color: #bebebe;
  text-decoration: underline;
  margin-right: 0.25em;
}

.layout-region-dragging .layout-region .regions {
  min-height: 6em;
  background-color: #ccc;
}

.layout-region .regions .info .label {
  cursor: move;
}

.layout-region .regions .region-placeholder {
  margin: 0.5em;
  padding: 0;
  border: 1px dotted #000000;
}

.layout-region .regions.region-placeholder:after {
  content: ' X ';
  padding: 2em;
  min-width: 5em;
}
